.BG{
   
padding-top: 170px;
background-image: url('D:/ASSETS/TheBai/MyLogo.png'); 
background-repeat: no-repeat;

background-color: rgb(158, 204, 248);
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
   
}